@model VatsimLibrary.VatsimClientV1.VatsimClientPilotV1

<h6 class="bg-primary text-white text-center m-2 p-2">Pilot Details</h6>
<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            <tr><th>CID</th><td>@Model.Cid</td></tr>
            <tr><th>Real Name</th><td>@Model.Realname</td></tr>
            <tr><th>Callsign</th><td>@Model.Callsign</td></tr>
        </tbody>
    </table>
</div>
