@page
@model PilotDetailModel
@{ 
    /* Borrowing from this: https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/sort-filter-page?view=aspnetcore-3.1 */
    ViewBag.Title = $"{Model.Pilot.Realname} Info";
}
<div class="container">
    <h1>Pilot Details</h1>
    <ul>
        <li>
            @Model.Pilot.Cid
        </li>            
        <li>
            @Model.Pilot.Realname
        </li>
        <li>
            @Model.Pilot.Callsign
        </li>
        <li>
            @Model.Pilot.TimeLogon
        </li>
    </ul>
    <h2 class="text-danger">TODO: PUT A TABLE HERE SHOWING ALL POSITIONS FOR THIS PILOT FOR <strong>THIS SELECTED FLIGHT</strong></h2>
    <h2 class="text-danger">TODO: PUT ANOTHER TABLE HERE SHOWING THE FOLLOWING FOR <strong>THIS SELECTED FLIGHT:</h2>
    <ul>
        <li>
            Fastest speed for this pilot
        </li>
        <li>
            Highest altitude for this pilot
        </li>
        <li>
            Farthest the pilot has traveled East (not to exceed 180 degrees E)
        </li>
        <li>
            Farthest the pilot has traveled South (90 N is the least amount of south and 90 S is most amount of south)
        </li>
    </ul>
    <p><strong>HINT:</strong> You've done MOST of these queries in previous assignment</p>
    <p>
        <a asp-page="/Pilots/Search">
            Back to Pilot Search
        </a>
    </p>
</div>
